.drawer-container {
  width: auto;
  background: #eee;
  .navigation-container {
    margin: 10px;
    font-family: sans-serif;

    button {
      width: 100%;
    }
  }
}

.logo {
  width: 188px;
  height: 186px;
  border-block-end: 1px solid;
  margin: 15px;

}

