<div>
    <mat-card>
        <mat-toolbar>
            <button mat-icon-button (click)="clickMenu()">
                <mat-icon class="icons">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button (click)="logout()">
                <mat-icon class="icons" >logout</mat-icon>
            </button>
            <mat-chip >
                    <mat-icon matChipAvatar style="color: #37479F;">account_circle</mat-icon>
                Username
            </mat-chip>
        </mat-toolbar>
    </mat-card>
</div>